<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAkX7bgqP3nO7qnzFGFZPrNaaWAAfLmcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>775099735569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.io.carrefour</string>
	<key>PROJECT_ID</key>
	<string>carrefour-c0e83</string>
	<key>STORAGE_BUCKET</key>
	<string>carrefour-c0e83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775099735569:ios:05451ba4d6deef554f5bb0</string>
</dict>
</plist>